*pyp_original/
*.sif
*.vscode
src/pyp/*.vscode
*.code-workspace
*.nfs*
*.pyc
*.*.pyc
*.nfs*
*__pycache__
*_regtest_outputs
*cache
singularity-example
docs/_build/
.CalculateFSC.dff
.currentCtffind.dff
.currentResample.dff
.currentResize.dff
config/config.toml
/.idea/
.pyp_history
external/postprocessing/
external/spr_pick/
external/cet_pick/
