
# sphinx and plugins
sphinx==7.1.2
sphinx-copybutton==0.5.0
sphinx-immaterial==0.11.14
sphinx_design==0.6.0
myst_parser==3.0.1

# needed to read the version number
toml==0.10.2

# These dependencies appear in requirements_docs.txt, but don't appear to be used for building the docs?
# Since some of these dependencies are HUGE, we don't want to install them if they're not really necessary.
#alabaster==0.7.12
#appdirs==1.4.4
#imageio==2.9.0
#imagesize==1.3.0
#importlib-metadata>=4.4
#iniconfig==1.1.1
#ipykernel==5.5.3
#ipython==7.22.0
#ipython_genutils==0.2.0
#matplotlib==3.4.1
#numpy==1.20.2
#olefile==0.46
#pandas==1.2.4
#pillow==8.1.2
#opencv-python>=4.5.1
#pymongo==3.11.0
#pywavelets==1.1.1
#scikit-learn~=0.24
#scikit-image==0.18.1
#scipy==1.5.3
#seaborn==0.11.1


# NOTES: as of 2025-03-28

# Extensions actually used in conf.py
#   "sphinx.ext.autodoc",
#   "sphinx.ext.coverage",
#   "sphinx.ext.napoleon",
#   "sphinx.ext.linkcode",
#   "sphinx_design",
#   "sphinx_copybutton",
#   "sphinx_immaterial",
#   "myst_parser",
#

# Themes actually used in conf.py
#   html_theme = "sphinx_immaterial"
# Themes not used in conf.py
#   html_theme = "sphinx_book_theme"
#   html_theme = "sphinx_rtd_theme"


# To build docs using minimal dependencies:

#   prep for python virtual environments:
#     sudo apt install python3-venv
#   pick a folder where you want to create the built docs and `cd` into it
#     cd /path/to/docs/build
#   find the folder where pyp sources live:
#     let's say it's `/pyp`
#   build the virtual environment (if not already there):
#     rm -rf ./venv
#     python3 -m venv ./venv
#     venv/bin/pip install -r /pyp/docs/requirements_docs.minimal.txt
#   generate the API docs:
#     venv/bin/sphinx-apidoc -f -o ./apidoc /pyp/src
#   compile the docs (fully, to get all warnings and errors):
#     venv/bin/sphinx-build -E /pyp/docs ./html
#   compile the docs (incrementally):
#     venv/bin/sphinx-build /pyp/docs ./html
#   to view the generated HTML
#     install `static-web-server`, a lightweight Rust-based web server for static sites
#     https://static-web-server.net/
#     https://static-web-server.net/download-and-install/#binaries
#     static-web-server --port 8042 --root ./html
#     then visit: http://$YOUR_SERVER_ADDRESS:8042
