alabaster==0.7.12
appdirs==1.4.4
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.10.1
importlib_metadata==3.10.1
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython_genutils==0.2.0
matplotlib==3.4.1
numpy==1.20.2
olefile==0.46
pandas==1.2.4
pillow==8.1.2
opencv-python>=4.5.1
pymongo==3.11.0
pywavelets==1.1.1
scikit-learn~=0.24
scikit-image==0.18.1
scipy==1.5.3
seaborn==0.11.1
sphinx==4.0.1
sphinx-rtd-theme==0.5.2
sphinx-tabs==3.2.0
sphinx-press-theme==0.8.0
sphinx-book-theme==0.2.0
sphinx-panels==0.6.0
sphinx-copybutton==0.5.0
sphinx-immaterial