.container-xl {
    max-width: 1500px !important;
}

.site-navigation {
    max-width: 275px !important;
}

.col-md-2 {
    flex: 0 0 12%;
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    color: white !important;
}

.logo {
	height: 75px;
}